
.checkbox {
    display: none;
}

.checkboxStyle {
    width: 20px;
    height: 20px;
    border: unset;
    background-color: var(--color);
    border-radius: 3px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: border-color 0.2s;
    user-select: none;
}

.checkboxStyle:hover {
    border-color: rgb(85, 85, 85);
    cursor: pointer;
}

.checkboxStyle::after {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 2px;
    background: #303030;
    transform: scale(1);
    transition: transform 0.1s;
}

.checkbox:checked+.checkboxStyle::after {
    transform: scale(0);
}