input[type='text'] {
    background-color: #474747;
    border: unset;
    height: 35px;
    padding: 0px 10px;
    border-radius: 7px;
    font-size: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #F3E9DC !important;
    box-shadow: 0 0 0 50px #707070 inset !important;

}

:focus {
    outline: solid;
    outline-width: 1px;
    outline-offset: 2px;
    outline-color: #F3E9DC;
}