*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #F3E9DC;
}

:root{
    --color: #949494;
}

.formBackground{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.397);
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
    animation: fadeInBackground 0.25s ease-in-out;
}

.form{
    position: absolute;
    background-color: #303030;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 383px;
    height: 536px;
    border-radius: 15px;
    z-index: 2;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
    user-select: none;
}

.showFormBackground {
    display: flex !important;
}
.showForm{
    display: flex !important;
}

.animationFadeOut{
    animation: fadeOut 0.5s ease-in-out !important;
    pointer-events: none;
}

@keyframes fadeInBackground {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(50px);
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

.formContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 310px;
    width: 100%;
    max-height: 337px;
    height: 100%;
}

.formContent legend{
    font-size: 27px;
    font-weight: bold;
}

body{
    background-color: #1F1F1F;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

main{
    max-width: 1760px;
    width: 100%;
    max-height: 866px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: hsla(0, 0%, 0%, 0.15) 0px 0px 40px;
}

.addButtonMenu{
    background-color: #303030;
    width: 222px;
    height: 66px;
    border-radius: 15px;
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    box-shadow: hsla(0, 0%, 0%, 0.15) 0px 0px 40px;
    cursor: pointer;
    transition: transform 0.2s;
    user-select: none;
}

.addButtonMenuNav{
    background-color: #252525;
    margin-right: 25px;
    width: 173px;
    height: 60px;
    font-size: 23px;
    box-shadow: unset;
}

.addButtonMenu:hover {
    transform: scale(1.05);
}

.addBtnSubmit {
    background-color: var(--color);
    width: 153px;
    height: 52px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    color: #303030;
    border: unset;
    transition: transform 0.25s;
    margin-top: 50px;
    order: 1;
}

.addBtnSubmit:hover {
    transform: scale(1.1);
}

.libraryNavContainer{
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    box-shadow: hsla(0, 0%, 0%, 0.205) 0px 0px 40px;
    padding: 0px 50px;
    z-index: 1;
}

.libraryNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 58px;
    user-select: none;
}

.libraryNav h1{
    font-size: 40px;
    font-weight: bold;
    color: #F3E9DC;
}

.gitHub{
    transition: transform .25s;
    display: flex;
    order: 2;
}

.gitHub:hover{
    transform: scale(1.1);
}

.buttonNavBar {
    display: flex;
    align-items: center;
}

.library{
    background-color: #252525;
    scrollbar-width: none;
    width: 100%;
    max-height: 772px;
    height: 100%;
    overflow-y: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library::-webkit-scrollbar {
    display: none;
}

.libraryBooks{
    display: grid;
    grid-template-columns: repeat(auto-fill, 216px);;
    grid-template-rows: repeat(auto-fill, 303px);
    justify-content: center;
    gap: 70px;
}

@media (max-width: 631px) {
    .libraryBooks{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    }


    .addButtonMenuNav{
        position: absolute;
        bottom: 35px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-right: unset;
    }

    .addButtonMenu {
        position: absolute;
        bottom: 35px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #3d3d3d;
        width: 173px;
        height: 60px;
        font-size: 23px;
    }

    .addButtonMenu:hover {
        transform: scale(1.05) translate(-50%, -50%);
        
    }
}
